/* Palette configuration */
:root, #app {
  --neutral-900: hsla(210, 24%, 16%, 1);
  --neutral-800: hsla(209, 20%, 25%, 1);
  --neutral-700: hsla(209, 18%, 30%, 1);
  --neutral-600: hsla(209, 14%, 37%, 1);
  --neutral-500: hsla(211, 12%, 43%, 1);
  --neutral-400: hsla(211, 10%, 53%, 1);
  --neutral-300: hsla(211, 13%, 65%, 1);
  --neutral-200: hsla(210, 16%, 82%, 1);
  --neutral-100: hsla(214, 15%, 91%, 1);
  --neutral-50:  hsla(216, 33%, 97%, 1);

  --primary-800: rgb(0, 40, 95);
  --primary-700: rgb(0, 65, 150);
  --primary-600: rgb(1, 75, 180);
  --primary-500: rgb(0, 100, 235);
  --primary-400: rgb(40, 130, 250);
  --primary-300: rgb(135, 185, 250);
  --primary-50:  rgba(240, 245, 255, 1);

  --cyan-800: rgba(21, 94, 117, 1);
  --cyan-500: rgba(6, 182, 212, 1);
  --cyan-400: rgba(34, 211, 238, 1);
  --cyan-200: rgba(165, 243, 252, 1);
  --cyan-100: rgba(207, 250, 254, 1);

  --green-800: rgba(22, 101, 52, 1);
  --green-700: rgba(21, 128, 61, 1);
  --green-600: rgba(22, 163, 74, 1);
  --green-500: rgba(34, 197, 94, 1);
  --green-100: rgba(220, 252, 231, 1);
  --green-50:  rgba(240, 253, 244, 1);
  
  --yellow-900: rgba(113, 63, 18, 1);
  --yellow-800: rgba(133, 77, 14, 1);
  --yellow-600: rgba(202, 138, 4, 1);
  --yellow-500: rgba(234, 179, 8, 1);
  --yellow-400: rgba(250, 204, 21, 1);
  
  --red-800: rgba(153, 27, 27, 1);
  --red-700: rgba(185, 28, 28, 1);
  --red-600: rgba(220, 38, 38, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-400: rgba(248, 113, 113, 1);
  --red-300: rgba(252, 165, 165, 1);
  --red-200: rgba(254, 202, 202, 1);
  --red-100: rgba(254, 226, 226, 1);
  --red-50:  rgba(254, 242, 242, 1);
  
  --gray-900: hsla(210, 24%, 16%, 1);
  --gray-800: hsla(209, 20%, 25%, 1);
  --gray-700: hsla(209, 18%, 30%, 1);
  --gray-600: hsla(209, 14%, 37%, 1);
  --gray-500: hsla(211, 12%, 43%, 1);
  --gray-400: hsla(211, 10%, 53%, 1);
  --gray-300: hsla(211, 13%, 65%, 1);
  --gray-200: hsla(210, 16%, 82%, 1);
  --gray-100: hsla(214, 15%, 91%, 1);
  --gray-50:  hsla(216, 33%, 97%, 1);
  
  --black: rgba(19, 26, 32, 1);
  --white: rgba(255, 255, 255, 1);
  font-family: "JetBrains Mono", monospace!important;
  font-optical-sizing: auto!important;
  font-style: normal!important;
  --transparent: transparent;
  color: white!important;
  background-color: var(--primary-800);
  border-radius: 0%!important;
}


/* Overwrite color classes, add new elements where needed */
.border-red-800 { border-color: var(--red-800); }
.border-primary-800 { border-color: var(--primary-800); }
.border-green-800 { border-color: var(--green-800); }
.border-yellow-800 { border-color: var(--yellow-800); }
.border-primary-600 { border-color: var(--primary-600); }
.border-primary-700 { border-color: var(--primary-700); }
.border-neutral-600 { border-color: var(--neutral-600); }
.border-neutral-700 { border-color: var(--neutral-700); }
.border-green-600 { border-color: var(--green-600); }
.border-green-700 { border-color: var(--green-700); }
.border-red-600 { border-color: var(--red-600); }
.border-red-700 { border-color: var(--red-700); }
.border-neutral-500 { border-color: var(--neutral-500); }
.border-transparent { border-color: var(--transparent); }
.border-neutral-200 { border-color: var(--neutral-200); }
.border-primary-400 { border-color: var(--primary-400); }
.border-neutral-300 { border-color: var(--neutral-300); }
.border-primary-300 { border-color: var(--primary-300); }
.border-red-300 { border-color: var(--red-300); }
.border-red-400 { border-color: var(--red-400); }
.border-neutral-400 { border-color: var(--neutral-400); }
.border-black { border-color: var(--black); }
.border-neutral-900 { border-color: var(--neutral-900); }
.border-cyan-500 { border-color: var(--cyan-500); }
.border-gray-800 { border-color: var(--gray-800); }
.border-red-500 { border-color: var(--red-500); }
.border-yellow-500 { border-color: var(--yellow-500); }
.border-neutral-800 { border-color: var(--neutral-800); }
.border-cyan-400 { border-color: var(--cyan-400); }

.bg-red-600 { background-color: var(--red-600); }
.bg-primary-600 { background-color: var(--primary-600); }
.bg-green-600 { background-color: var(--green-600); }
.bg-yellow-600 { background-color: var(--yellow-600); }
.bg-red-500 { background-color: var(--red-500); }
.bg-primary-500 { background-color: var(--primary-500); }
.bg-green-500 { background-color: var(--green-500); }
.bg-yellow-500 { background-color: var(--yellow-500); }
.bg-black { background-color: var(--black); }
.bg-neutral-900 { background-color: var(--neutral-900); }
.bg-neutral-800 { background-color: var(--neutral-800); }
.bg-white { background-color: var(--white); }
.bg-neutral-600 { background-color: var(--neutral-600); }
.bg-neutral-500 { background-color: var(--neutral-500); }
.bg-transparent { background-color: var(--transparent); }
.bg-neutral-700 { background-color: var(--neutral-700); }
.bg-neutral-600-95 { background-color: hsla(209, 14%, 37%, 0.95); /* Custom, no variable provided for 95% opacity */ }
.bg-red-100 { background-color: var(--red-100); }
.bg-neutral-100 { background-color: var(--neutral-100); }
.bg-cyan-400 { background-color: var(--cyan-400); }
.bg-neutral-400 { background-color: var(--neutral-400); }
.bg-gray-700 { background-color: var(--gray-700); }
.bg-gray-800 { background-color: var(--gray-800); }
.bg-gray-50 { background-color: var(--gray-50); }
.bg-cyan-800 { background-color: var(--cyan-800); }
.bg-gray-600 { background-color: var(--gray-600); }
.bg-gray-900 { background-color: var(--gray-900); }
.bg-red-500-25 { background-color: rgba(239, 68, 68, 0.25); /* Custom, no variable provided for 25% opacity */ }
.bg-yellow-500-25 { background-color: rgba(234, 179, 8, 0.25); /* Custom, no variable provided for 25% opacity */ }
.bg-gray-900-50 { background-color: hsla(210, 24%, 16%, 0.5); /* Custom, no variable provided for 50% opacity */ }
.bg-yellow-400 { background-color: var(--yellow-400); }
.bg-black-50 { background-color: rgba(19, 26, 32, 0.5); /* Custom, no variable provided for 50% opacity */ }
.\!bg-blue-600 { background-color: var(--primary-600) !important; }

.text-white { color: var(--white); }
.text-neutral-300 { color: var(--neutral-300); }
.text-neutral-100 { color: var(--neutral-100); }
.text-neutral-200 { color: var(--neutral-200); }
.text-neutral-500 { color: var(--neutral-500); }
.text-neutral-400 { color: var(--neutral-400); }
.text-red-400 { color: var(--red-400); }
.text-red-100 { color: var(--red-100); }
.text-neutral-600 { color: var(--neutral-600); }
.text-primary-50 { color: var(--primary-50); }
.text-neutral-50 { color: var(--neutral-50); }
.text-green-50 { color: var(--green-50); }
.text-red-50 { color: var(--red-50); }
.text-transparent { color: var(--transparent); }
.text-gray-100 { color: var(--gray-100); }
.text-gray-200 { color: var(--gray-200); }
.text-red-700 { color: var(--red-700); }
.text-neutral-700 { color: var(--neutral-700); }
.text-red-500 { color: var(--red-500); }
.text-neutral-800 { color: var(--neutral-800); }
.text-primary-400 { color: var(--primary-400); }
.text-red-200 { color: var(--red-200); }
.text-neutral-900 { color: var(--neutral-900); }
.text-gray-400 { color: var(--gray-400); }
.text-cyan-100 { color: var(--cyan-100); }
.text-gray-50 { color: var(--gray-50); }
.text-yellow-500 { color: var(--yellow-500); }
.text-gray-300 { color: var(--gray-300); }
.text-yellow-400 { color: var(--yellow-400); }
.text-cyan-400 { color: var(--cyan-400); }
.text-yellow-900 { color: var(--yellow-900); }
.text-gray-500 { color: var(--gray-500); }
.text-cyan-200 { color: var(--cyan-200); }
.\!text-gray-50 { color: var(--gray-50) !important; }
.text-green-100 { color: var(--green-100); }
.text-yellow-800 { color: var(--yellow-800); }
.text-primary-300 { color: var(--primary-300); }

.style-module_2XbmHEcn, .style-module_2Vp6MaXq, .ContentBox___StyledDiv-sc-mjlt6f-2, .Modal___StyledDiv2-sc-9vzni8-3, .Input-sc-19rce1w-0, .Input__Textarea-sc-19rce1w-1, .TitledGreyBox___StyledDiv-sc-gvsoy-0, .LoginFormContainer___StyledDiv-sc-cyh04c-3, .GreyRowBox-sc-1xo9c6v-0, .bg-gray-700, .EditScheduleModal___StyledDiv2-sc-wh9db9-4, .EditScheduleModal___StyledDiv4-sc-wh9db9-6, .EditScheduleModal___StyledDiv5-sc-wh9db9-7, .bNXcqn, .bWXUsX, .style-module_1RnhIT0w, .TaskDetailsModal___StyledDiv5-sc-1b5dnyw-7, .Select-sc-17exaqp-0, .box  {
  border-radius: 0%!important;
  box-shadow: none!important;
  border: 2px solid var(--primary-500)!important;
  background-color: var(--primary-800)!important;
  color: var(--white)!important;
}
.style-module_1DtraXMW {
  border-radius: 0%!important;
  box-shadow: none!important;
  border: 2px solid var(--primary-500)!important;
  background-color: var(--primary-700)!important;
  color: var(--white)!important;
}
.style-module_1WqkLT9X {
  border-radius: 0%!important;
  box-shadow: none!important;
  border: 2px solid var(--primary-500)!important;
  background-color: var(--primary-800)!important;
  color: var(--white)!important;
  margin: 10px!important;
}
.PermissionRow__Container-sc-1h899cn-0:hover {
  border-radius: 0%!important;
  box-shadow: none!important;
  border: 2px solid var(--primary-500)!important;
  background-color: var(--primary-600)!important;
}
.StartupContainer___StyledP-sc-163imy2-3, code {
  color: var(--white)!important;
  background-color: var(--primary-800)!important;
  border: 3px solid var(--primary-600)!important;
  border-radius: 5px!important;
}
.TitledGreyBox___StyledDiv2-sc-gvsoy-1 {
  background-color: var(--primary-600)!important;
}
.style-module_4LBM1DKx, .style-module_4LBM1DKx.style-module_2RJbSnp6, .Button__ButtonStyle-sc-1qu1gou-0 {
  border-radius: 0%!important;
  font-family: "JetBrains Mono", monospace!important;
  background-color: var(--primary-500)!important;
}

#NavigationBar {
  background-color: var(--primary-800)!important;
}

.DashboardContainer___StyledServerRow-sc-1topkxf-2 {
  background-color: var(--primary-700)!important;
  color: var(--white)!important;
}

.Label-sc-g780ms-0, .LoginContainer___StyledLink-sc-qtrnpk-4, .ServerRow___StyledDiv3-sc-1ibsw91-7, .ServerRow___StyledDiv4-sc-1ibsw91-10, .DashboardContainer___StyledP-sc-1topkxf-1, .PageContentBlock___StyledP-sc-kbxq2g-3, p, .cGpejy, h1, a, .ScreenBlock___StyledH-sc-1f87kcm-5, .ifEusH {
  color: var(--white)!important;
}

.border-b-2 {
  border-bottom-width: 2px!important;
  border-color: var(--primary-400);
}

.style-module_1n_DiqmT, .terminal, .xterm, .xterm-viewport {
  background-color: var(--primary-800)!important;
}
.style-module_3TDo--Tn {
  background-color: var(--primary-500)!important;
  
}
.style-module_1n_DiqmT {
  border: 5px solid var(--primary-500)!important;
  border-bottom: none!important;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: white!important;
}
.PageContentBlock___StyledA-sc-kbxq2g-4:link {
  color: var(--primary-600)!important;
}
.PageContentBlock___StyledA-sc-kbxq2g-4:visited {
  color: var(--primary-400)!important;
}
.PageContentBlock___StyledA-sc-kbxq2g-4:hover {
  color: var(--primary-400)!important;
}
.PageContentBlock___StyledP-sc-kbxq2g-4:active{
  color: var(--primary-400)!important;
}
.text-neutral-500:link {
  color: var(--primary-600)!important;
}
.text-neutral-500:visited {
  color: var(--primary-400)!important;
}
.text-neutral-500:hover {
  color: var(--primary-400)!important;
}
.text-neutral-500:active {
  color: var(--primary-400)!important;
}

.mx-auto {
  max-width: 2000px!important;
}
#SubNavigation {
  background-color: var(--primary-700)!important;
}
.style-module_2vOYXZWm { 
  background-color: var(--primary-600)!important;
}
.iWCdMr, .QNQDy {
  color: white!important;
}
.icon {
  background-color: var(--primary-600)!important;
}
.text-neutral-400 {
  color: var(--primary-400)!important;
}
.jyeSuy>.grid>.self-end>.flex>.style-module_Yp7-2Fw-, .ReinstallServerBox___StyledDiv-sc-1prmksw-3>.style-module_4LBM1DKx.style-module_2RJbSnp6 {
  background-color: var(--red-500)!important;
}
.fDvZKJ {
  color: white!important;
}
.style-module_RcP2_Fvj .style-module_3TDo--Tn {
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-width: 0px!important;
}
.style-module_RcP2_Fvj > .style-module_1n_DiqmT {
    border-top-right-radius: 0px!important;
    border-top-left-radius: 0px!important;
}
.style-module_RcP2_Fvj .style-module_3TDo--Tn {
  background-color: var(--primary-700)!important;
  border: 5px solid var(--primary-500)!important;
}
